* {
    box-sizing: border-box;
  }
  #header{
    background:#CD6155; 
    width:100%;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
    text-align: center;

  }
#footer{
    background-color:black;
    color: blanchedalmond;
    text-align:center;
    padding:10px;
    margin-top:7px;
    font-size:12px;
}
  @media only screen and (min-width: 500px) {
    body {
      background-color: pink;
    }

    div {
      text-align: center;
    }

    #postres,
    #dulces,
    #tortas {
      border: 2px solid white;
      border-radius: 5px;
      font-size: 15px;
      font-family: sans-serif;
    }
  }

  @media only screen and (max-width:800px) {

    /* para tablets: */
    body {
      background-color: #FAE5D3;
    }

    #postres,
    #dulces,
    #tortas {
      display: inline-block;
      margin: 2px;
      width: 100%;
      padding: 0;
      background: #F4F6F6;
      border: 2px solid black;
      font-family: Impact,Arial, Helvetica, sans-serif;
    }
  }

  @media screen and (min-width: 1025px) {

    #dulces,
    #tortas,
    #postres {
      display: inline-block;
      background-color: #C39BD3;
      width: 50%;
      border-radius: 5px;
      border: 2px solid black;
      margin: 2px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .menuitem {
      width: 30px;
      font-size:20px ;
      text-align: center;
      border: 1px solid black;
      background-color: #17202A;
      color: white;
    }

    body {
      background-image: url(https://img2.freepng.es/20190323/kko/kisspng-cute-cupcakes-torta-drawing-not-my-art-5c95afdf59b381.6320112315533137593674.jpg);
    }

    #tortas {
      float: right;
    }
    .right {
      background-color: gainsboro;
      font-size: 20px;
      font-family: Impact, sans-serif;
      text-align: center;
    }
  }